{% extends 'base.html' %}

{% block title %}Home {% endblock %}

{% block content %}

{% if not request.user.is_authenticated %}

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Track Your Diet, Lead a Healthier Life</h1>
        <p class="pt-4">
            Welcome to CalorieCompass, your dedicated companion on the journey to a healthier you! Embarking on a wellness path isn't just about exercise routines or fad diets, it's about understanding and managing the fuel you provide your body. 
            Every meal, every snack, every bite matters. With our intuitive calorie tracker at your fingertips, you'll gain insights into your dietary habits like never before. 
            Discover the power of knowledge, make informed food choices, and witness the transformative effect it can have on your health and well-being. 
            Dive in today, and let's embrace a nourished, balanced, and vibrant lifestyle together!
        </p>
    </section>
</div>


<div class="cta-container text-center my-5">
    <section class="text-center">
        <h2>Start Tracking Your Diet Today!</h2>
        <p>Join our community and gain insights into your dietary habits.</p>
        <a href="/accounts/signup" class="btn btn-primary mr-2">Sign Up</a>
        <a href="/accounts/login/" class="btn btn-secondary">Log In</a>
    </section>
</div>
{% else %}


<div class="container mt-5">
    <h2>Hello {{request.user}}, Your Calorie Consumption (Past 7 Days)</h2>
    <canvas id="calorieChart"></canvas>
</div>


{% endif %}


{%  endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let ctx = document.getElementById('calorieChart').getContext('2d');
    let calorieChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates|safe }},
            datasets: [{
                label: 'Calories Consumed',
                data: {{ calories|safe }},
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>

{% endblock %}
