{% extends "base.html" %}

{% block title %}Trackers{% endblock %}

{% block content %}
<div class="container justify-content-center d-flex flex-row flex-wrap justify-content-center">
    <h1 class="text-center p-2">
        Your entered meals
    </h1>

    {% for date, data in trackers_grouped.items %}
    <div class="card mb-3 container justify-content-center">
        <div class="card-header">
            Date: {{ date }}
            <p><strong>Total Calories:</strong> {{ data.total_calories }}</p>
        </div>
        <div class="card-body">
            {% for tracker in data.entries %}
            <div class="row g-0 mb-2">
                {% if tracker.image %}
                <div class="col-md-4">
                    <img src="{{ tracker.image.url }}" alt="{{ tracker.image_alt }}" class="img-fluid">
                </div>
                {% endif %}
                <div class="col-md-8">
                    <h5 class="card-title">{{ tracker.title }}</h5>
                    <p class="card-text">
                        <strong>Portion Size in grams:</strong> {{ tracker.portion_size }}<br>
                        <strong>Meal Type:</strong> {{ tracker.meal_type }} <br>
                        <strong>Calories:</strong> {{tracker.calories}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
