{% extends "base.html" %}

{% block title %}Trackers{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center p-2 mb-4">Your entered meals</h1>

    {% for tracker in trackers %}
    <div class="card mb-4 shadow">
        <div class="row g-0">
            {% if tracker.image %}
            <div class="col-md-4">
                <img src="{{ tracker.image.url }}" alt="{{ tracker.image_alt }}" class="img-fluid rounded-start">
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ tracker.title }}</h5>
                    <p class="card-text">
                        <strong>Date:</strong> {{ tracker.date }}<br>
                        <strong>Portion Size in grams:</strong> {{ tracker.portion_size }}<br>
                        <strong>Meal Type:</strong> {{ tracker.meal_type }} <br>
                        <strong>Calories:</strong> {{tracker.calories}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
